
<div class="panel panel-default">
  <div class="panel-heading">Recent Mass Shootings</div>

  <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Location</th>
          <th>Dead</th>
          <th>Injured</th>
          <th>Shooter(s)</th>
          <th>News articles</th>
        </tr>
      </thead>
      <tbody>
        {{#each data.mostRecent}}
        <tr>
          <td>{{displayDate}}</td>
          <td>{{city}},&nbsp;{{state}}</td>
          <td>{{killed}}</td>
          <td>{{wounded}}</td>
          <td>{{#each perpetrators}}
              <div>{{name}}</div>
           {{/each}}
           </td>
          <td>
            <ul class="list-inline">
           {{#each sources}}
             <li style="float:left; margin-right:10px;">
               <a target="_blank" href="{{this}}" title="{{this}}"><i class="fa fa-external-link"></i></a>
             </li>
           {{/each}}
           </ul>
          </td>
        </tr>
        {{/each}}

      </tbody>
    </table>
  </div>
</div>