{{>navbar}}

<div class="container-fluid">
  <div class="container mst-container-main mst-data-page">

    <div class="mst-button-row">
      {{#each downloads}}
        <a href={{link}} class="btn btn-default"><i class="fa fa-download"></i> {{year}} </a>
      {{/each}}
    </div>

    <div class="row">
      <div class="col-sm-12">
        <ul class="list-inline">
          {{#if is2016}}
            <li class="active" ><a href="/data/2016">2016</a></li>
          {{else}}
            <li><a href="/data/2016">2016</a></li>
          {{/if}}
          {{#if is2015}}
            <li class="active" ><a href="/data/2015">2015</a></li>
          {{else}}
            <li><a href="/data/2015">2015</a></li>
          {{/if}}
          {{#if is2014}}
            <li class="active"><a  href="/data/2014">2014</a></li>
          {{else}}
            <li><a href="/data/2014">2014</a></li>
          {{/if}}
          {{#if is2013}}
            <li class="active"><a href="/data/2013">2013</a></li>
          {{else}}
            <li><a href="/data/2013">2013</a></li>
          {{/if}}
        </ul>
      </div>
    </div>

    <div class="row">
      <div id="mst-chart"></div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Location</th>
          <th>Dead</th>
          <th>Injured</th>
          <th>Shooter(s)</th>
          <th>News articles</th>
        </tr>
      </thead>

{{!--
sample record:

{ _id: '56241713111497a82e69a1d5',
state: 'GA',
city: 'Savannah',
__v: 0,
flagged: [],
sources: [ 'http://savannahnow.com/crime/2015-01-02/police-1-dead-4-injured-overnight-savannah-shooting' ],
categories: [],
comments: [],
wounded: 4,
killed: 1,
perpetrators: [ { name: 'Unknown', _id: '56241713111497a82e69a1d6' } ],
date: '2015-01-02T08:00:00.000Z' }

--}}

<tbody>
 {{#each data}}
 <tr>
   <td>{{number}}</td>
   <td>{{displayDate}}</td>
   <td>{{city}},&nbsp;{{uppercase state}}</td>
   <td>{{killed}}</td>
   <td>{{wounded}}</td>
   <td>
     {{#each perpetrators}}
     <div>{{name}}</div>
     {{/each}}
   </td>
   <td>
      <ul class="list-inline">
     {{#each sources}}
       <li style="float:left; margin-right:10px;">
         <a target="_blank" href="{{this}}" title="{{this}}"><i class="fa fa-external-link"></i></a>
       </li>
     {{/each}}
     </ul>
   </td>
 </tr>
 {{/each}}

</tbody>

</table>
</div>
</div>

<script id="shooting-data">
  window.data = {{{dataJson}}};
  window.year = {{{year}}};
</script>
