{{>navbar}}

{{!--

"{\"2014\":341,\"2015\":272,\"totalAllYears\":633,\"daysSince\":30}"

--}}
<div class="container-fluid">
  <div class="container mst-container-main">
    <div>

      <h1><span class="label label-danger">{{data.totalCurrentYear}}</span> U.S. mass shootings in {{data.currentYear}}</h1>
      <h1><span class="label label-danger">{{data.totalAllYears}}</span> mass shootings since 1/1/2013</h1>
      <h1><span class="label label-danger">{{data.daysSince}}</span> {{data.daysLabel}} since last mass shooting</h1>

      <p class="mst-shooting-definition">
        The Mass Shooting Tracker is a crowd sourced database of U.S. mass shootings. We define a “mass shooting” as a
        single outburst of violence in which four or more people are shot and/or killed. This is not the same as mass murder as defined by the FBI. <a href="/about">Learn more here.</a>
      </p>

      {{>recentshootings}}

      <div class="row bottom-row">
        <div class="col-sm-12">
          <a class="btn btn-large btn-danger" href="/data">See all the data</a>
          <a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-size="large">Tweet This Page</a>
        </div>
      </div>

    </div>
  </div>
</div>