{{>navbar}}

<div class="container-fluid">
  <div class="container mst-container-main">
    <div class="jumbotron">
      <h1 class="center">Number of mass shootings in America this year: <strong>{{data.numShootingsThisYear}}</strong></h1>

      <p class="mst-shooting-definition">
        We define a mass shooting to be when 4 or more people are shot in a single burst of violence.
        These events happen almost every day in America, yet the media only reports on a small fraction of the worst episodes.
        Fighting apathy requires awareness.
        Learn more about why the government and the media's definition of "mass shooting" <a href="/about">is wrong...</a>
      </p>
      <h3 class="center">{{data.daysSinceLastShooting}} days since the last mass shooting</h3>
      <h3 class="center">Expected time until next mass shooting: 2 days, 13 hours, 20 minutes, 11 seconds</h3>

      <div class="row mst-jumbotron-btns">

        <div class="col-xs-12 col-sm-3 center">
          <a class="btn btn-block btn-danger" href="#"><i class="fa fa-share-alt"></i>Share this page</a>
        </div>
        <div class="col-xs-12 col-sm-3 center">
          <a class="btn btn-block btn-danger" href="#"><i class="fa fa-twitter"></i>Follow us on Twitter</a>
        </div>
        <div class="col-xs-12 col-sm-3 center">
          <a class="btn btn-block btn-danger" href="#"><i class="fa fa-envelope"></i>Join our mailing list</a>
        </div>
        <div class="col-xs-12 col-sm-3 center">
          <a class="btn btn-block btn-danger" href="#"><i class="fa fa-reddit"></i>Subscribe on Reddit</a>
        </div>

      </div>
    </div>

    <div class="mst-button-row">

        <a href="#" class="btn btn-info" data-toggle="modal" data-target="#submitShootingModal"><i class="fa fa-submit"></i>Report a mass shooting</a>

        <a href="#" class="btn btn-default"><i class="fa fa-download"></i>Download the data</a>

    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Location</th>
          <th>Dead</th>
          <th>Injured</th>
          <th>Shooter's Name</th>
          <th>Synopsis</th>
          <th>News articles</th>
        </tr>
      </thead>
      <tbody>
        {{#each data.shootings}}
        <tr>
          <td>{{date}}</td>
          <td>{{location}}</td>
          <td>{{killed}}</td>
          <td>{{wounded}}</td>
          <td>{{name}}</td>
          <td>{{synopsis}}</td>
          <td>
            <ol>
            {{#each sources}}
              <li>
                <a target="_blank" href="{{this}}" title="{{this}}"><i class="fa fa-external-link"></i></a>
              </li>
            {{/each}}
            </ol>
          </td>
        </tr>
        {{/each}}

      </tbody>

    </table>
  </div>
</div>

{{>submitshooting}}
